<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- 
		    Conexiones de cada uno (usen la que les corresponda)...
		    Lucas: "Data Source=DESKTOP-S0JSMAC\SQLEXPRESS;Initial Catalog=ProyectosTp;Integrated Security=True;TrustServerCertificate=true;"
			http://johnatten.com/2014/04/06/asp-net-mvc-keep-private-settings-out-of-source-control/
			Estefi:"Data Source=DESKTOP-VQJJ8DT\SQLEXPRESS;Initial Catalog=GestorDeProyectos;Integrated Security=True"
		-->
		<add
			 name="bd-lucas"
			 connectionString="Data Source=DESKTOP-S0JSMAC\SQLEXPRESS;Initial Catalog=GestorDeProyectos;Integrated Security=True; TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient"
		  />

		<add
			 name="bd-mateo"
			 connectionString="Data Source=PCMASTER\SQLEXPRESS;Initial Catalog=GestorDeProyectos;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"
		  />

		<add
			 name="bd-mateo-2"
			 connectionString="Data Source=DESKTOP-OMDLR5H\SQLEXPRESS;Initial Catalog=GestorDeProyectos;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"
		  />
		
		<add
			 name="bd-mateo-test"
			 connectionString="Data Source=PCMASTER\SQLEXPRESS;Initial Catalog=TestTp;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"
		  />

		<add
			 name="bd-stefi"
			 connectionString="Data Source=DESKTOP-VQJJ8DT\SQLEXPRESS;Initial Catalog=GestorDeProyectos;Integrated Security=True; TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"
		  />

		<add
			 name="bd-emi"
			 connectionString="Data Source=EMI\LOCALHOST;Initial Catalog=GestorDeProyectos;Integrated Security=True; TrustServerCertificate=True;;"
			 providerName="Microsoft.Data.SqlClient"
		  />
		<!-- Se agrega TrustServerCertificate=True para desactivar el SSL (confiamos en la conexión). -->
	</connectionStrings>
	<appSettings>
		<add key="nombreApp" value="Administrador de Proyectos UTN"/>
	</appSettings>
</configuration>