<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- 
		    Conexiones de cada uno (usen la que les corresponda)...
		    Lucas: "Data Source=DESKTOP-S0JSMAC\SQLEXPRESS;Initial Catalog=ProyectosTp;Integrated Security=True;TrustServerCertificate=true;"
			http://johnatten.com/2014/04/06/asp-net-mvc-keep-private-settings-out-of-source-control/
		-->
		<add
			 name="Proyectos"
			 connectionString="Data Source=DESKTOP-S0JSMAC\SQLEXPRESS;Initial Catalog=ProyectosTp;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"
		  />
		<!-- Se agrega TrustServerCertificate=True para desactivar el SSL (confiamos en la conexión). -->
	</connectionStrings>
	<appSettings>
		<add key="nombreApp" value="Administrador de Proyectos UTN"/>
	</appSettings>
</configuration>